<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">

	<title>{{ site.app_name }}</title>
	<meta name="description" content="{{ site.app_description }}">

	<link rel="shortcut icon" href="{{ site.app_icon }}">

	<!-- Smart App Banner -->
	{% if site.enable_smart_app_banner %}
		<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

    <meta content="website" property="og:type">
    <meta name="google-site-verification" content="lzOVa6QTceDUYLFnTVcQmtiBPJs-LZoiu9FhIKmRM8o" />
    <meta property="og:url" content="https://nemesiscodex.github.io/javaNews/">
    <meta name="twitter:url" content="https://nemesiscodex.github.io/javaNews/">
    <meta property="og:title" content="Java News">
    <meta name="twitter:title" content="Java News"/>
    <meta name="description" property="og:description" content="Get the latest java news, blogs posts, feeds, guides, tutorials in your device.">
    <meta property="og:image" content="https://lh3.googleusercontent.com/5iF8xq-qTJjWqdR0boUoY5cFyrWKJVqkjjCsZheCSw2rpis9erTTvDNdsYv7iuX6AA">
    <meta name="twitter:image" content="https://lh3.googleusercontent.com/5iF8xq-qTJjWqdR0boUoY5cFyrWKJVqkjjCsZheCSw2rpis9erTTvDNdsYv7iuX6AA"/>
    <meta name="appstore:developer_url" content="https://nemesiscodex.github.io/javaNews/">
    <meta name="appstore:bundle_id" content="io.nemesiscodex.javanews">
    <meta name="appstore:store_id" content="io.nemesiscodex.javanews">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="main.css">
</head> 
